<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ngọc Trinh products</title>

</head>
<body>
    <h1>Cafe Ngọc Trinh - Product lít</h1>
    <h2 th:text="${message}">Welcome to the product list page of Cafe Ngọc Trinh!</h2>
    <h3>The list of Ngọc Trinh Coffee </h3>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action (Update | Delete)</th>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">1</td>
                <td th:text="${product.name}">Ngọc Trinh Coffee</td>
                <td th:text="${product.price}">10000</td>
                <td>
                    <a th:href="@{'/products/edit/'+${product.id}}">Update</a>
                    <a th:href="@{'/products/delete/'+${product.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>